/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



$red: #D86161;

body {
	background: rgb(235, 238, 243);
}

.main_content {
	padding: 0 0 50px 0;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	background: white;
	font-weight: bold;
}


.navbar {
	background-color: #ED2939;
	margin-bottom: 50px;
	border: none;
	.navbar-brand {
		color: white;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 30px;
		a {
			color: white;
			text-decoration: none;
		}
	}
	li {
		a {
			color: white !important;
		}
	}	
}


.recipe {
	box-shadow: 7px 7px 3px #888888;
	&:hover {
		transition: .3s ease-in;
		box-shadow: none;
		}
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		
	}
	img {
		width: 100%;
		transition: all .75s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		text-align: center;

		a {
			color: $red;
			text-decoration: none;
		}
	}
}

#recipe_top {
	margin-bottom: 50px;
}

#recipe_info, #ingredients, #directions {
	background: white;
	min-height: 360px;
	border-radius: 5px;
	padding: 2em 8%;
}

.recipe_image {
	max-width: 100%;
	border-radius: 5px;
}

#recipe_info {
	h1 {
		font-size: 36px;
		font-weight: normal;
		color: $red;
	}
	.description {
		color: #8A8A8A;
		font-size: 20px;
	}
}

#ingredients, #directions {
	margin-bottom: 25px;
	ul, ol {
		padding-left: 18px;
	}
		li {
			padding: 1em 0;
			border-bottom: 1 px solid #EAEAEA;
		}
}

.form-inline {
	margin-top: 15px;
}

.form-input {
	width: 65% !important;
	float: left;
}

.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%
}

.add-button {
	margin-top: 25px;
}


/* Sign In and Sign Up */
.col-md-6 .col-md-offset-3 {
	h2, label {
		color: $red !important;
	}
	
}

/* COLOR AND ALIGNMENT OF HEADERS */

h1, h2, h3 {
	color: #D86161;
}

.new {
	padding-left: 15px;
}


.btn-primary {
    color: #fff !important;
    background-color: #D86161 !important;
    border-color: #7a3737 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff !important;
	background-color: #bc5353 !important;
	border-color: #7a3737 !important;
}

.btn-default {
	color: #fff !important;
    background-color: #D86161 !important;
    border-color: #7a3737 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #bc5353 !important;
	border-color: #7a3737 !important;
}

a {
	color: #7a3737;
}

.margins {
	margin-left: 15px;
}

.logo {
	padding-top: -5px;
}





